@import
url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

@font-face {
    font-family: 'Gotham-Bold';
    src: url("font/Gotham-Bold.otf");
}

*{
    margin:0px;
    padding:0px;
}

.intro_bg{
    background-image: url("images/sample.png");
    background-size: cover;
    width: 100%;
    height: 100%;
}

.intro_bg .header{
    display: flex;
    justify-content: space-between;
    margin-left:100px;
    margin-right:100px;
    height:80px;
    align-items: center;
    position: sticky;
}

.intro_bg .nav ul li{
    display: inline-block;
    margin: 0 10px;
    box-sizing: border-box;
    border-style: solid;
    background-color: none;
    border-color: white;
    padding: 5px;
    padding-left:15px;
    padding-right:15px;
    padding-bottom:5px;
    border-radius: 20px;
    border-width:1px;
}

.intro_bg .nav ul .FAQ {
    padding-left:30px;
    padding-right:30px;
}

.intro_bg .nav ul li a{
    text-decoration: none;
    color: white;
}

.intro_bg .nav ul li a:hover{
    color: purple;
}

.SAMPLE {
    background-color: white;
}
#sample{
    color: #464646;
}

.intro_title{
    width: 1640px;
    margin-left:100px;
    margin-top: 370px;
}
.t1{
    width: 674px;
    height: 113px;

}
.t1 > h1{
    font-size: 100px;
    font-family: 'Gotham';
    text-align: left;
    font-weight: 700;
    color: #FFFFFF
}

.t2{
    width: 530px;
    height: 104px;
    margin-top: 17px;
}
.t2 > p{
    text-align: left;
    font-size: 30px;
    font-weight: 500;
    font-family: 'NanumSquare';
    letter-spacing: 0px;
    color: #FFFFFF
}

.test_exp{
    width: 1640px;
    height: 600px;
    padding-top:96px;
    display: flex;
}

.left_title{
    height: 151px;
    font-weight: 800;
    font-family: 'NanumSquare';
    margin-left:100px;
}

.tp{
    width: 32px;
    height: 7px;
    background-image: url("images/underbar.png");
}
.num1{
    width: 36px;    
    font-size: 58px;
    font-weight: 800;
    font-family: 'NanumSquare', sans-serif;
    color: #585959;
}

.tap{
    margin-top: 16px;
    width: 235px;
    text-align: left;

    font: normal normal 800 55px/66px NanumSquare;
    letter-spacing: 0px;
    color: #464646;
    opacity: 1; 
}

.right_content1{
    width: 950px;
    height: 617.42px;
    padding-top: 87px;
    margin-left: 340px;
}

.right_content1 > hr{
    margin-top: 157.42px;
    border: 2px solid #D5D5D5;
    opacity: 1;
}

.text1 {
    font: normal normal normal 38px/55px NanumSquare;
    font-weight: 400;
    letter-spacing: 0.24px;
    color: #464646;
}

.text1 > p > span{
    font: normal normal 800 38px/55px NanumSquare;
    letter-spacing: 0.24px;
    color: #464646;
}

.text2 {
    margin-top: 39px;

    text-align: left;
    font: normal normal normal 20px/30px NanumSquare;
    letter-spacing: 0px;
    color: #464646;
}

.text2 > p > span {
    text-align: left;
    font: normal normal 800 20px/30px NanumSquare;
    letter-spacing: 0px;
    color: #464646;
}

.sample_test{
    width: 812px;
    height: 222px;
    margin-top: 25.24px;
    background-image: url("images/sample_test.png");
}

.text3 {
    font: normal normal normal 38px/55px NanumSquare;
    font-weight: 400;
    letter-spacing: 0.24px;
    color: #464646;
}

.text3 > p > span{
    font: normal normal 800 30px/35px NanumSquare;
    letter-spacing: 0.24px;
    color: #464646;
}

.copyrights {
    font-family: 'Gotham-Bold';
    justify-content: space-between;
    width: 1640px;
    height: 150px;
    margin-left:150px;
    padding-top: 700px;   
    display: flex;
    opacity:0.7;
}